<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button
        color="light"
        defaultHref="search-chef"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
    <ion-icon
      name="notifications"
      slot="end"
      (click)="notificationModal($event)"
    ></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
    <ion-icon name="cart" slot="end" [routerLink]="['/your-order']"></ion-icon>
    <ion-badge id="notifications-badge" color="danger"
      >{{totalItemsCart}}</ion-badge
    >
    <img
      slot="end"
      src="../../../assets/001.JPG"
      (click)="presentModal($event)"
    />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <ion-segment value="upcoming" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="upcoming">
        <ion-label>UpComing</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-label>Past Orders</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="segId == 'upcoming'">
    <div *ngFor="let order of ordersDESC">
      <p id="date">{{order.date | date:'EEE, dd MMM yyyy'}}</p>
      <div class="upperBox" *ngFor="let singleOrder of order.details">
        <div class="image">
          <img src="../../../assets/food/{{singleOrder.dish.image}}" />
        </div>
        <div class="title">
          <h3>{{singleOrder.dish.name}}</h3>
        </div>
        <div class="menu">
          <h3>
            <ion-icon
              name="ellipsis-vertical-outline"
              (click)="presentPopover($event)"
            ></ion-icon>
          </h3>
        </div>
        <div class="orderId">
          <p>Order ID : #{{singleOrder.id}}</p>
        </div>
        <div class="amount">
          <h3>${{singleOrder.subTotal}}</h3>
        </div>
        <div class="status">
          <p
            [ngStyle]="{'color':(singleOrder.enable === 0 || singleOrder.enable === 1) ? 'green' : 'red' , 'background':(singleOrder.enable === 0 || singleOrder.enable === 1) ? '#e4f4eb' : '#f7d0c7'   }"
          >
            {{singleOrder.enable === 0 ? "CONFIRM": singleOrder.enable === 1 ?
            "SUCCESS" : "CANCELLED"}}
          </p>
        </div>
        <div class="time">
          <p>Est.Time: {{singleOrder.dish.time}}</p>
        </div>
        <div class="edit">
          <button class="btn" type="submit" (click)="reOrder(singleOrder.dish)">
            Reorder
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="segId == 'past'">
    <div *ngFor="let order of ordersASC">
      <p id="date">{{order.date | date:'EEE, dd MMM yyyy'}}</p>
      <div class="upperBox" *ngFor="let singleOrder of order.details">
        <div class="image">
          <img src="../../../assets/food/{{singleOrder.dish.image}}" />
        </div>
        <div class="title">
          <h3>{{singleOrder.dish.name}}</h3>
        </div>
        <div class="menu">
          <h3>
            <ion-icon
              name="ellipsis-vertical-outline"
              (click)="presentPopover($event)"
            ></ion-icon>
          </h3>
        </div>
        <div class="orderId">
          <p>Order ID : #{{singleOrder.id}}</p>
        </div>
        <div class="amount">
          <h3>${{singleOrder.subTotal}}</h3>
        </div>
        <div class="status">
          <p
            [ngStyle]="{'color':(singleOrder.enable === 0 || singleOrder.enable === 1) ? 'green' : 'red' , 'background':(singleOrder.enable === 0 || singleOrder.enable === 1) ? '#e4f4eb' : '#f7d0c7'   }"
          >
            {{singleOrder.enable === 0 ? "CONFIRM": singleOrder.enable === 1 ?
            "SUCCESS" : "CANCELLED"}}
          </p>
        </div>
        <div class="time">
          <p>Est.Time: {{singleOrder.dish.time}}</p>
        </div>
        <div class="edit">
          <button class="btn" type="submit" (click)="reOrder(singleOrder.dish)">
            Reorder
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
